.feed {
  flex: 0.4;
 margin-left: 10px;
}

.feed__top {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.feed__avatar {
  margin-right: 10px;
}

.feed__search {
  display: flex;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 5px;
}

.feed__search > form {
  width: 100%;
}

.feed__search > form > input {
  outline: none;
  border: none;
  flex: 1;
  width: 94%;
  padding: 10px;
  margin-right: 10px;
}

.feed__search > form > button {
  display: none;
}

.feed__options {
  display: flex;
  justify-content: space-around;
}
